/*---- FORM STYLES ----*/
.contact {
    background-color: $primary-background;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    .info-box {
        color: $info-box;
        padding: 20px;
        width: 100%;
        background: $input-background;
        i.fas {
            font-size: 24px;
            color: $primary-color1;
            border-radius: 50%;
            padding: 14px;
            float: left;
            background: $font-awesome-icon;
        }
        h3 {
            font-size: 20px;
            color: $h3-title;
            font-weight: 700;
            margin: 10px 0 8px 68px;
        }
        p {
            padding: 0;
            color: $primary-color2;
            line-height: 24px;
            font-size: 14px;
            margin: 0 0 0 68px;
        }
        .social-links {
            margin: 5px 0 0 68px;
            display: flex;
            a {
                font-size: 18px;
                display: inline-block;
                color: $primary-color2;
                line-height: 1;
                margin-right: 12px;
                transition: 0.3s;
                &:hover{
                    color: $social-icon-hover;
                }
            }
        }
    }
    .email-form {
        padding: 30px;
        background: $email-form-background;
        input, textarea {
            border-radius: 0;
            box-shadow: none;
            font-size: 14px;
            background: $input-background;
            border: 0;
            transition: 0.3s;
            color: $primary-color2;
            &:focus {
                background-color: $input-focus;
            }
            &::-moz-placeholder {
                color: $form-placeholder;
                opacity: 1;
            }
            &::placeholder {
                color: $form-placeholder;
                opacity: 1;
            }
        }
        input {
            padding: 10px 15px;
        }
        textarea {
            padding: 12px 15px;
        }
        button[type=submit] {
            background: $primary-btn;
            border: 0;
            padding: 10px 30px;
            color: #fff;
            transition: 0.4s;
            border-radius: 4px;
            &:hover {
                background: $btn-hover;
            }
        }
    }
}
  /*---- MEDIA QUERIES ----*/
  @media only screen and (max-width: 952px) {
    .contact {
      height: auto;
      margin-top: 0;
    }
  }