/*---- FORM STYLES ----*/
.footer-txt {
    border-top: 1px solid $primary-color1;
    color: $primary-color1;
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
  }
  .btn-outline-light {
    color: $primary-color1;
    border-color: $primary-color1;
  }
  