.projects {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-background;
}


.projects-wrapper {
  display: flex;
  justify-content: center;
  img {
    width: 340px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 1px 1px 10px 1px $primary-color3;
    transition: transform 0.5s ease;
  }
  .img-title {
   color: $primary-color1;
  }
  .img-wrapper {
    margin-bottom: 30px;
    transition: transform 0.5s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
  .margin-lr {
    margin-right: 25px;
    margin-left: 25px;
  }
}
.social-home {
  height: auto;
  width: auto;
  margin-bottom: 50px;
}

/*---- MEDIA QUERIES ----*/
@media only screen and (max-width: 1227px) {
  .projects {
    height: auto;
    padding-top: 50px;
  }
  .projects-wrapper {
    width: 100%;
    flex-direction: column;
    text-align: center;
    img {
      width: 400px;
      height: 200px;
    }
    .margin-lr {
      margin-right: 0;
      margin-left: 0;
    }
  }
  
}
@media only screen and (max-width: 380px) {
  .projects-wrapper {
    img {
      width: 100%;
      height: 200px;
    }
  }
}

