/*---- Fonts ----*/
$main-font: "Ubuntu", sans-serif;
/*---- Main Colors ----*/
$primary-yellow: #CC9900;
$primary-white: #fff;

$primary-background: #343A40;
$secondary-background:#3C3F3C;
$about-background: #cc99000e;

/*---- Buttons Colors ----*/
$primary-btn:#CC9900;
$btn-hover:#cc990046;

/*---- About Section ----*/
$progress-bar-wrap:rgba(255, 255, 255, 0.2);

/*---- Contact Form Colors ----*/
$contact: #cc99000e;
$form-placeholder:rgba(255, 255, 255, 0.3);
$email-form-background: rgba(255, 255, 255, 0.08);
$input-background: rgba(255, 255, 255, 0.08);
$input-focus:rgba(255, 255, 255, 0.11);
$font-awesome-icon: rgba(255, 255, 255, 0.1);
$info-box:#444444;
$h3-title: rgba(255, 255, 255, 0.5);


/*---- Social links ----*/
$social-icon-hover: #CC9900;
