/*---- IMPORTS ----*/
@import 'variables';
@import 'navbar';
@import 'slider';
@import 'about';
@import 'resume';
@import 'contact';
@import 'footer';

/*---- GENERAL STYLES ----*/
html {
    scroll-behavior: smooth;
    body {
        font-family: "Ubuntu", sans-serif;
        background-color: #343A40;
        color: white;
        position: relative;
        ul {
            list-style-type: none;
        }
    }
}
  
  
  
  
 